@inherits Umbraco.Web.Mvc.UmbracoViewPage<Umbraco.Core.Models.Blocks.BlockListItem>

@using ContentModels = Umbraco.Web.PublishedModels;

@{

    var content = (ContentModels.MenuLink)Model.Content;
    var settings = (ContentModels.MenuLink)Model.Settings;

}



<li>
    <a href="@content.LInk.Url">@content.Title</a>
    @if (content.EnableSubLinks)
    {
        <ul class="dropdown">
            @if (content.HasProperty("subLinks") && content.HasValue("subLinks"))
            {
                @Html.GetBlockListHtml(content.SubLinks);
            }
        </ul>
     }
</li>
